node_modules/
android/.gradle/*
android/app/build/*
android/build/*
android/.idea/*
android/local.properties
.expo/
npm-debug.*
/.vscode
.DS_Store
android/.DS_Store
ios/.DS_Store
project.xcworkspace
ios/Pods/Pods.xcodeproj/xcuserdata/*
android/.idea/workspace.xml
android/app/app.iml

.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

build/
.idea
.gradle
local.properties
*.iml
android/app/src/main/libs
android/app/src/main/obj

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
ios/Pods
Pods/
android/app/.externalNativeBuild
